{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Todo App</title>
    <link rel="stylesheet" href="{% static 'todo/css/style.css' %}">
</head>

<body>
  <nav class="navbar navbar-light bg-light mb-4">
    <div class="container">
      <a class="navbar-brand" href="{% url 'todo:task_list' %}">Todo App</a>
      <a class="btn btn-primary" href="{% url 'todo:add_task' %}">Add Task</a>
    </div>
  </nav>
  <div class="container">
    {% block content %}{% endblock %}

  </div>
</body>
</html>