<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student List</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="{% url 'port' %}">Portfolio</a></li>
            <li><a href="{% url 'stu_list' %}">Student List</a></li>
        </ul>
    </nav>
</header>

<main>
    <h1>Student List appears here</h1>
    <b>1</b><br>
    <b>2</b><br>
    <b>3</b><br>
    <b>4</b><br>
    <table>
    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>City</th>
    </tr>

        {% for student in students%}
               <tr><td>{{ student.name }}</td>
        <td>{{ student.age }}</td>
        <td>{{ student.city }}</td></tr>
        {% endfor %}
    </table>
</main>

</body>
</html>
