<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Webpage Title</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>Hello User - {{cname}}, World! To Django</h1>
    <br />
    <i>Hi user</i><br />
    <b> Your course name is : {{nm}} </b><br />
    <b> Your course duration is : {{dur}} </b><br />
    <b> seats left in you coursen are : {{seats}} </b><br />
  </body>
</html>
